h1{
    text-align: center;
    margin-top: 200px;;
}

input{
    margin-top:15px;
} 

p{
    text-align: center;
    margin-top: 20px;
}

.form{
    height: 200px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    height:665px;
    background-image: url("https://www.arquitecturaydiseno.es/medio/2018/09/19/color-1-web_cb4fd3e8_812x550.jpg");
    background-size: 100rem;
    
  }